/* font-family: "FuturaPT"; */
@font-face {
  font-family: "FuturaPT";
  src: url("../fonts/FuturaPT/FuturaPT-Demi.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ProximaNovaCond"; */
@font-face {
  font-family: "ProximaNovaCond-Regular";
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "ProximaNovaCond"; */
@font-face {
  font-family: "ProximaNovaCond-Semibold";
  src: url("../fonts/ProximaNovaCond/ProximaNovaCond-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
