$os-lgt: "OpenSans-Light", sans-serif;
$os-reg: "OpenSans-Regular", sans-serif;
$os-semb: "OpenSans-Semibold", sans-serif;
$raleway: "Raleway", sans-serif;
$deffonts: sans-serif, Arial, Verdana, "RobotoRegular", 'PT Sans';
$futura: 'FuturaPT', sans-serif;
$prox-reg: 'ProximaNovaCond-Regular', sans-serif, Arial;
$prox-semib: 'ProximaNovaCond-Semibold', sans-serif, Arial;
$dark_grey: #3F3F3F;
$grey: #646464;
$light-grey: #cdcdcd;
$wh_c: #ffffff;
$bl_c: #000000;
$blue: #3C79EB;